.App {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  position: absolute;
  z-index: 100;
  top: 5px;
  left: 25px;
  color: white;
  font-size: x-large;
  font-weight: 900;
}

header {
  position: fixed;
}

.sidebar {
  height: 100vh;
}

.menu {
  padding-top: 60px;
}

.menuItem, .subMenu, .subMenuItem {
  color: white;
  text-align: left;
}

.subMenuItem {
  background-color: #333333;
}

.menu-anchor:hover {
  color: #1E1E1E;
  font-weight: 600;
}

.App-body {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 350px);;
  height: calc(100% - 100px);;
  text-align: left;
  padding: 50px;
}

h2 {
  font-size: xxx-large;
  margin-top: 0;
}

.selectLabel, .selectLocation, .sideBySide {
  display: inline-block;
  vertical-align: middle;
}

.superscript {
  display: inline-block;
  vertical-align: text-top;
}

.selectLabel {
  margin-right: 10px;
}

.nestedListIcon {
  margin-right: 3px;
}

.cardActions {
  margin-left: auto;
}